.counter__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    font-size: 56px;
    color: black;
}

.active__reset {
    color: red;
}

.display__value {
    color: red;
    font-size: 56px;
}